<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
  </head>
  <script src="../../pixi.min.js"></script>
  <body">

  </body>
  <script src="../../src/Main.js"></script>
  <script src="../../src/Background.js"></script>
  <script src="../../src/Football.js"></script>
  </html>
 